.lesson_content {
  .column_method_steps {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    .step {
      width: 350px;

      img {
        width: 100%;
      }
    }
  }
}
