.lesson_content {
  .message {
    text-align: center;
    margin-top: 100px;

    p {
      font-size: 1.4rem;
    }
  }

  .yagisan {
    float: right;
    width: 200px;

    img {
      width: 100%;
    }
  }
}
