{% extends "yagisan/lesson/5/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>あなたを支配する、隠れた考え方のクセとは？</h3>
  <div class='lesson_content'>
    <p>考え方のクセには、6パターンあります。</p>
    <p>どんな考え方のクセがあるかを、見てみましょう。</p><br>
    <table>
      <tr>
        <td>
          <h4>【思いこんだり、決めつける】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/opinionated.png' %}">
          <div class="explain">仕事でミスした時に、「私はいつも失敗してばかりだ」と決めつける</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/opinionated_button.png' %}">
          </div>
          <div class="explain_detail offscreen">自分がしていることだけに目を向け、根拠が全く不十分なのに、自分の考えが正しいに違いないと決めつけるクセ</div>
        </td>
        <td>
          <h4>【白黒つける】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/white_black.png' %}">
          <div class="explain">上司からミスを指摘された時に、「やはり自分は仕事ができないのだ」と考える</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/white_black_button.png' %}">
          </div>
          <div class="explain_detail offscreen">灰色（曖昧な状態）に耐えられず、物事を全て白か黒か、良いか悪いかと言う極端な考え方で割り切ろうとするクセ</div>
        </td>
        <td>
          <h4>【「～すべき」と考える】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/regret.png' %}">
          <div class="explain">できるだけの準備をしても仕事でミスが出た時に、「もっと準備をすべきだった」と自分に無理な期待をして悔やむ</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/regret_button.png' %}">
          </div>
          <div class="explain_detail offscreen">「こうすべきだ」「あのようにすべきではなかった」とあれこれ思い悩むクセ</div>
        </td>
      </tr>
      <tr>
        <td>
          <h4>【自分を責める】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/blame_yourself.png' %}">
          <div class="explain">みんなで取り組んできたプロジェクトが失敗した時、すぐに「自分が悪かった」と考える</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/blame_yourself_button.png' %}">
          </div>
          <div class="explain_detail offscreen">よくないことが起きると、何であっても自分が原因だったと考えて、自分を責めてしまうクセ</div>
        </td>
        <td>
          <h4>【深読みをする】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/read_deep.png' %}">
          <div class="explain">お昼休み、話をしている時に、相手が携帯電話に目を落としたのを見て、「自分との話に飽きてきたんだ」と決めつける</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/read_deep_button.png' %}">
          </div>
          <div class="explain_detail offscreen">相手の気持ちを一方的に推測して、そうに違いないと決めつけてしまうクセ</div>
        </td>
        <td>
          <h4>【先読みをする】</h4>
          <img class="illustration" src="{% static 'yagisan/img/lesson/5/2/prefetch.png' %}">
          <div class="explain">プレゼンをすることになって「緊張してうまく話せないかもしれない」と考えると、ますます緊張して、結局思うように話せなくなり、そして「きっと今度も失敗するだろう」と考えて失敗を繰り返す</div>
          <div class="open_detail">
            <img class="detail" src="{% static 'yagisan/img/lesson/5/2/prefetch_button.png' %}">
          </div>
          <div class="explain_detail offscreen">自分で悲観的な予測を立ててしまうクセ</div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
