{% extends "yagisan/lesson/6/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>気持ちに影響を与える考え方</h3>
  <div class='lesson_content'>
    <p>私たちの気持ち、行動は、考え方（自動思考）に影響されています。
    <br>Lesson1でも紹介しましたが、同じ体験をしても、その受け取り方によって気分や行動のパターンは違ってきます。 </p>

    <p><br> こころが元気なときは、ストレスと直面しても、
      柔軟な考え方によってストレス状況をうまく対処したり<span class="navy">回避したりすることができます。</span></p>

    <p><br>  逆に落ち込んでいる時は、悪いことばかりに目が向いたり、普段よりも悲観的な受け取り方をしてしまうことがあります。
    そのような落ち込んでいる時の思考をよく見てみると、大きく３つの特徴があると言われています。</p>

    <div class="signs">
      <p class="title">否定的三徴</p>
      <div class="to_">
        <p>①自分自身に対して悲観的 <br>
          「仕事でミスをするなんて、自分はダメな人間なんだ」と自分を責めるなど、自分自身を悲観的に捉えてしまう。</p>
        <img src="{% static 'yagisan/img/lesson/6/1/to_self.png' %}" alt="">
      </div>
      <div class="to_">
        <p>②周囲に対して悲観的 <br>
          「みんなから嫌われている」と決めつけるなど、周囲の人たちとの関係を悲観的に捉えてしまう。</p>
        <img src="{% static 'yagisan/img/lesson/6/1/to_others.png' %}" alt="">
      </div>
      <div class="to_">
        <p>③将来に対して悲観的 <br>
          「これから先は、つらいこと、嫌なことばかりだ」と、自分の将来を悲観的に考えるようになってしまう。</p>
        <img src="{% static 'yagisan/img/lesson/6/1/to_future.png' %}" alt="">
      </div>
    </div>
    <div class="message">
      <p>このような考えの特徴が出てくるのは、あなたの心が弱いからでも、考え方に問題があるからでもありません。
        <span class="blue">「あなたはいまストレスが溜まってきています。このままだと、心のバランスがくずれてきてしまうかもしれません。」</span>
        という、心からのサインなのです。</p>
    </div>

    <div class="column_method">
      <p>落ち込んでいる時に、「自分が考えていること」を書き出しみると、考えを整理でき、問題を客観的に見ることができます。</p>

      <p><br> 自分の悲観的な思考と向き合うことは、時につらく傷ついたりするものかもしれません。 <br>
      嫌な思いをすることもあるかもしれません。</p>

      <p><br> しかしたとえ少しづつでも、自分の考えと向き合い終えた時、きっと心は軽く、楽になっているはずです。</p>

      <p><br> Lesson６では、「コラム法」という方法にしたがって、自分の考えを書き出すことで、Lesson5で確認したような「考え方のクセ」を和らげ、思考のバランスをとることを目指します。</p>

      <p><br> 「特別なことをするのかな…」「少しめんどうくさそう…」そう思った方はいませんか。 <br>
      コラム法には特別なことは何もありません。 <br>
      普段友達の悩みを聞く時、「何があったの？」「それでどんな気持ちになったの？」と質問しますよね。 <br>
      そのような会話を、八木さんと一緒に、自分自身に問いかけていくだけのものなのです。</p>

      <p><br> では、まずコラム法の書き方を一緒に見ていきましょう。</p>
    </div>
  </div>
</div>

{% endblock %}
