{% extends "yagisan/lesson/6/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>コラム法</h3>
  <div class='lesson_content'>
    <p>コラム法は以下のような流れで進めていきます。</p>
    <div class="column_method_steps">
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/1.png' %}" alt="">
      </div>
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/2.png' %}" alt="">
      </div>
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/3.png' %}" alt="">
      </div>
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/4.png' %}" alt="">
      </div>
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/5.png' %}" alt="">
      </div>
      <div class="step">
        <img src="{% static 'yagisan/img/lesson/6/2/6.png' %}" alt="">
      </div>
    </div>
    <p>では、次のページから、これらの流れを一つずつ見ていきましょう。</p>
  </div>
</div>

{% endblock %}
