{% extends "yagisan/lesson/6/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>実際に書いてみましょう</h3>
  <div class='lesson_content'>
    <div class="yagisan">
      <img class="first" src="{% static 'yagisan/img/lesson/6/5/yagisanlast2.png' %}" alt="">
      <img class="second" src="{% static 'yagisan/img/lesson/6/5/yagisanlast3.png' %}" alt="">
    </div>
    <div class="message">
      <img src="{% static 'yagisan/img/lesson/4/3/hukidashi.png' %}" alt="">
      <p>よく頑張ったね。 <br>
        きみのこころ、また柔らかくなったよ〜 <br>
        君のストレスと一緒に、きょうのコラム <br>
        食べちゃうね！</p>
    </div>
  </div>
</div>

{% endblock %}
