{% extends "yagisan/lesson/1/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>職業性ストレスについて</h3>
  <div class='lesson_content'>
    <p>働いている中で、様々なストレスを受けることがあると思います。</p>
    <br>
    <p>では、仕事に関わるストレスにどのようなものがあるのか。もう少し詳しく見てみましょう。
    アメリカ国立職業安全研究所（NIOSH)は、職業に関する総合的なストレスモデルとして、下のようなモデルを提示しています。</p>
    <div class="img">
      <img src="{% static 'yagisan/img/lesson/1/1-1/1-1-1.png' %}">
    </div>
    <br>
    <p>このように、仕事外の要因、個人的要因、緩衝要因によって影響を受けながら、ストレス反応を引き起こすのです。</p>
    <br>
    <p>様々なストレス原因の中で、私たちが一番ストレスを感じるのは、<span class="community">「人間関係」</span>です。
    これは、ホムルスとレイという２人のアメリカの精神科医が作った有名なストレス評価表でも示されています。</p>
    <br>
    <p>この教材では、様々なストレス要因の中でも、特に<span class="community">「人間関係」</span>に関するストレスとうまく付き合って行く方法を扱っています。</p>
    <br>
    <p>６つのLessonを通して、八木さんと一緒に<span class="community">「人間関係」</span>に関するストレスと上手に付き合えるようになりましょう。</p>
    <br>
  </div>
</div>

{% endblock %}
