{% extends "yagisan/lesson/1/base.html" %}
{% load static %}
{% block lesson_window_inner %}


<div class="lesson_wrap">
  <h3>ストレスが起こるメカニズム</h3>
  <div class='lesson_content'>
    <p>ではストレスはどのようにして起こるのでしょうか。</p><br>
    <div class="img">
      <img src="{% static 'yagisan/img/lesson/1/1-2/1-2-1.png' %}">
    </div><br>
    <p>このようにストレッサーに対して、私たちの中には<span class="idea_image">瞬間的にある考えやイメージ</span>（自動思考）が浮かんできます。その考えやイメージが私たちの気持ちや行動、そして身体に影響を与えるのです。</p><br>
    <p>考え方やイメージというのは、人によっても様々で、またその時々によっても変わります。</p>
    <p>したがって、同じストレッサーに直面しても、それが気持ち、行動、身体にプラスの影響を与えることもあれば、マイナスの影響を与えることもあるのです。</p><br>
    <p>プラスの影響を与える時はいいのですが、マイナスの影響を与えてしまうと、精神面では、抑鬱状態や集中力の低下、身体面では自律神経の乱れや胃潰瘍など、トラブルを引き起こします。これが、いわゆる”ストレス”です。</p>

  </div>
</div>

{% endblock %}
