{% extends "yagisan/lesson/1/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>この教材で学ぶこと</h3>
  <div class="lesson_content">
    <p>ではそのようなストレスを予防するためにはどうすれば良いでしょうか。この教材では、主に２つの方法で、みなさんが「ストレスにうまく対処する」ことを手助けします。</p>
    <p class="subtitle">①自分の考えや感情を、うまく相手に伝えられるようになる</p>
    <div>
      <p>1. 自分の気持ちに正直になってください</p>
      <p>2. 相手の気持ちを大切にしましょう</p>
      <p>3. 穏やかに話すようにしましょう</p>
      <p>4. 簡潔に話すようにしてください</p>
      <p>5. 自分の意見はきちんと伝えましょう</p>
      <p>6. 相手の意見にも耳を傾けてください</p>
      <p>7. ダメなことはダメと伝えましょう</p>
    </div>
  </div>
</div>



{% endblock %}
