.lesson_content {
  .offscreen {
    display: none;
  }

  th, td {
    padding: 5px;
  }

  .second, .third, .fourth, .fifth {
    width: 120px;
  }

  td.second, td.third, td.fourth, td.fifth {
    text-align: center;

    img {
      text-align: center;
    }
  }
}
