.expressions {
  margin-top: 30px;
  height: 430px;

  .expression_title {
    margin-bottom: 20px;

    .expression_title_kind {
      color: #741b47;
    }
  }

  .expression_img {
    width: 60%;
    position: relative;
    top: -40px;
    left: 110px;
  }

  .expression_img_right {
    width: 65%;
    position: relative;
    top: 20px;
    left: 110px;
  }
}

.left, .center, .right {
  width: 30%;
  float: left;
  margin: 0px 10px 0px 10px;
}

.right {
  height: 430px;
}

.example_title {
  background-color: #f6b26b;
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  border: solid #c89866;
  text-align: center;

  p {
    margin-top: 20px;
  }
}

.example_expressions {
  margin-top: 50px;

  .example_text {
    font-size: 1rem !important;
  }

  .example_img_left, .example_img_center, .example_img_right {
    width: 60%;
    position: relative;
  }

  .example_img_left {
    top: 140px;
    left: 100px;
  }

  .example_img_center {
    top: -15px;
    left: 110px;
  }

  .example_img_right {
    width: 65%;
    top: 110px;
    left: 120px;
  }
}
