{% extends "yagisan/lesson/2/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>自分のストレスをチェックしよう！</h3>

  <div class='lesson_content'>
    女性ホルモンの働きやバランスが乱れると、以下のような症状が現れます。

    <div class="first">
      <div class="green_long">
        <img src="{% static 'yagisan/img/lesson/2/4/green_long.png' %}" alt="">
        <div class="text">
          <p>・生理不順</p>

          <p class="small">女性ホルモンの分泌が少ないと無月経や過小月経（生理の出血量が少ない）</p>
          <p class="small">頻発月経（生理周期が早くなる、短くなる）</p>
          <p class="small">過多月経（異常に出血量が多い、血の塊が混ざって出る）</p>
          <p class="small">過長月経（月経が８日以上続く）</p>
          <p class="small">＊過長月経＋出血量増加、ひどい生理痛の場合は、子宮内膜症や子宮筋腫が原因となっている可能性もある。</p>
        </div>
      </div>
    </div>

    <div class="second">
      <div class="left">
        <div class="yellow_short">
          <img src="{% static 'yagisan/img/lesson/2/4/yellow_short.png' %}" alt="">

          <div class="text">
            <p>・生理痛</p>

            <p class="small">生理中に分泌される痛みや炎症を起こすプロスタグランジンというホルモンが通常以上に分泌されると強い生理痛を引き起こす。</p>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="yellow_long">
          <img src="{% static 'yagisan/img/lesson/2/4/yellow_long.png' %}" alt="">

          <div class="text">
            <p>・不正出血</p>

            <p class="small">女性ホルモンのバランスの乱れにより、子宮内膜が刺激されてはがれてしまうことで起こる。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="third">
      <div class="left">
        <div class="green_long">
          <img src="{% static 'yagisan/img/lesson/2/4/green_long.png' %}" alt="">

          <div class="text">
            <p>・自律神経失調症</p>

            <p class="small">女性ホルモン分泌の指令を出す視床下部は、自律神経のコントロールも行う。そのため、女性ホルモンバランスの乱れにより、自律神経にも連鎖して不調をきたし、めまい・ふらつきなどの症状が起こる。</p>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="green_short">
          <img src="{% static 'yagisan/img/lesson/2/4/green_short.png' %}" alt="">

          <div class="text">
            <p>・PMS（月経前症候群）</p>

            <p class="small">排卵後に起こるホルモンバランスの乱れによって、頭痛・腰痛・肩こり・便秘などの身体症状、イライラ・集中力低下・やる気低下などの精神症状が起こる。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="fourth">
      <div class="left">
        <div class="yellow_short">
          <img src="{% static 'yagisan/img/lesson/2/4/yellow_short.png' %}" alt="">

          <div class="text">
            <p>・肌荒れ・ニキビ</p>

            <p class="small">女性ホルモンの分泌が減少すると、皮脂の分泌を活発にする男性ホルモンの分泌が増加するために起こる。</p>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="yellow_short">
          <img src="{% static 'yagisan/img/lesson/2/4/yellow_short.png' %}" alt="">

          <div class="text">
            <p>・不妊</p>

            <p class="small">プロゲステロンの分泌量が減少し、排卵後の子宮内膜を妊娠に適した状態に維持することが困難になる。</p>
          </div>
        </div>
      </div>

      <div class="right">
        <div class="yellow_short">
          <img src="{% static 'yagisan/img/lesson/2/4/yellow_short.png' %}" alt="">

          <div class="text">
            <p>・更年期障害</p>

            <p class="small">加齢により、エストロゲンの分泌が減少し、めまい・動悸・発汗などの症状が出る。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
