{% extends "yagisan/lesson/2/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>自分のストレスをチェックしよう！</h3>

  <div class='lesson_content'>
    <div class="text">
      <p>エストロゲンやプロゲステロンの分泌やバランスが乱れることで</p>
      <p>身体にはさまざまな症状が現れます。</p>

      <p><br>先ほど上げた症状が必ずしも、ストレスによって起こるわけではありません。</p>
      <p>長期的に継続していたり、異常を感じる方は医療機関に行くことをお勧めします。</p>

      <p><br>あなたの身体に起こる症状は</p>
      <p>あなたのこころの負担を現しているのかもしれません。</p>

      <p><br>そのことを頭の片隅に置き、あなたのこころも身体も健康に保ちましょう。</p>
    </div>

    <div class="yagisan">
      <img src="{% static 'yagisan/img/lesson/2/5/yagisan.png' %}" alt="">
    </div>
  </div>

{% endblock %}
