{% extends "yagisan/lesson/4/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <h3>Lesson3のおさらい〜気持ちの伝え方〜</h3>
  <div class='lesson_content'>
    <div class="points">
      <div class="describe">
        <p class="midashi">Describe（描写する）</p>
        <p>解決しようとする問題の現在の状況や、相手の行動について「客観的」に描写する</p>
        <div class="point">
          <p class="point_midashi">ステップ「D」のポイント</p>
          <div class="point_detail">
            <ul>
              <li>・データなどを用いて客観的に描写する</li>
              <li>・事実のみを端的に描写する</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="express">
        <p class="midashi">Express, Explain（表現する、説明する）</p>
        <p>「E」には「Empathize（共感する）」や「見せる（Expose）」を充てる場合もある。 <br> 描写したことに対しての「主観的」な気持ちを表現したり、相手の気持ちに共感する。</p>
        <div class="point">
          <p class="point_midashi">ステップ「E」のポイント</p>
          <div class="point_detail">
            <ul>
              <li>・感情的、攻撃的にならない</li>
              <li>・自分の弱い部分、困っている気持ち、改善できる事を伝える</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="suggest">
        <p class="midashi">Suggest、Specify（提案する、具体的に挙げる）</p>
        <p>状況を変えるための「具体的」で「現実的」な解決方法や代替案、妥協案を提案する。</p>
        <div class="point">
          <p class="point_midashi">ステップ「S」のポイント</p>
          <div class="point_detail">
            <ul>
              <li>・「命令」ではなく、強制力のない「提案」をする</li>
              <li>・絶対に相手を責めない</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
