{% extends "yagisan/lesson/4/base.html" %}
{% load static %}
{% block lesson_window_inner %}

<div class="lesson_wrap">
  <!-- <h3>上手な会話の返し方</h3> -->
  <div class='lesson_content'>
    <div class="points">
        <div class="first">
          <p><span class="point_title">POINT1</span>
            自分にとって、ストレスになる人とは自分からは関わらないようにしましょう
            気の合わない人と一緒にいると、どうしても気分も沈みがちになるし、イライラしてしまいます。
            それを防ぐには、できるだけ二人っきりになる状態は避けましょう。</p>
        </div>
        <div class="second">
          <p><span class="point_title">POINT2</span>
            相手の良い所を積極的に探してみよう
            気の合わない同僚のことを考えるだけでイライラする、くらい嫌いでもちょっと考え方や見方を変えてみる、
            相手の良い所を探してみる、ということを一度はしてみてもいいかもしれません。</p>
        </div>
    </div>
    <div id="others_answer" class="others_answer">
      <p class="title">他の受講者はこのような会話の返し方をしています</p>
      <input type="hidden" name="dialogue_sex" value="2">
      <input type="hidden" name="dialogue_to" value="2">
      <div id="dialogues" class="dialogues">
        <div id="dialogue_wrap" class="dialogue_wrap offscreen">
          <div id="dialogue_first" class="dialogue">
            <div id="dialogue_type_1">D:&nbsp<span></span></div>
            <div id="dialogue_type_2">E:&nbsp<span></span></div>
            <div id="dialogue_type_3">S:&nbsp<span></span></div>
          </div>
          <div id="dialogue_second" class="dialogue">
            <div id="dialogue_type_1">D:&nbsp<span></span></div>
            <div id="dialogue_type_2">E:&nbsp<span></span></div>
            <div id="dialogue_type_3">S:&nbsp<span></span></div>
          </div>
        </div>
      </div>
      <a href="/lesson/4/4">
        <div id="return_to_dialogue_button" class="return_to_dialogue_button">他の会話を選ぶ</div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
